<style>
    #article-start_demo2 {
        text-align: center
    }

    #page-content_demo2 {
        padding: 15px;
        max-width: 740px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    #page-content_demo2 p {
        font-size: 16px;
    }

    #page-content_demo2 h1 {
        font-size: 38px;
    }

    #page-content_demo2 {
        font-family: sans-serif;
    }

    #page-content_demo2 a {
        text-decoration: underline;
    }

    #video_demo2 {
        max-width: 540px;
        filter: blur(40px);
        -webkit-filter: blur(40px);
        -moz-filter: blur(40px);
        -o-filter: blur(40px);
        -ms-filter: blur(40px);
        filter: blur(40px);
    }

    .video-wrapper {
        max-width: 540px;
        margin: 15px auto;
        overflow: hidden;
    }

    #page-content_demo2 img {
        -webkit-filter: blur(40px);
        -moz-filter: blur(40px);
        -o-filter: blur(40px);
        -ms-filter: blur(40px);
        filter: blur(40px);
    }

    .img-wrapper {
        overflow: hidden;
        display: inline-block;
        margin: 15px;
    }

    #image_demo2_1 {
        margin: -25px;
        height: 325px;
    }

    #image_demo2_2 {
        margin: -25px;
        height: 300px;
    }

    #bootstrap-override #page-content_demo2 h1 {
        margin-top: 10px;
    }</style>
<script>
    plyr.setup()
</script>
<div id="page-content_demo2">
    <div id="article-start_demo2">
        <h1 id="article-title_demo2" ng-click="selectElement($event);$event.stopPropagation()">Ullamco Magna Consequat Occaecat Tempor</h1>
        <div id="first-image" class="img-wrapper text-center"><img ng-click="selectElement($event);$event.stopPropagation()" id="image_demo2_1" src="data/img/img10.jpg"></div>
    </div>
    <p id="paragraph_demo2_0" ng-click="selectElement($event);$event.stopPropagation()">Nostrud sint enim labore laboris excepteur enim nulla culpa sint est consequat mollit. Fugiat Lorem quis cillum esse et consectetur duis. Anim aliqua in <a id="link_demo2_2" ng-click="selectElement($event);$event.stopPropagation()" href="">irure velit elit</a>        laboris ipsum in esse minim elit. Fugiat laborum eu ullamco ipsum aliquip adipisicing ex veniam et eu laboris enim Lorem. Ullamco enim sit quis aliqua culpa consequat cupidatat pariatur quis incididunt non cupidatat dolore. Aliqua non ea minim
        reprehenderit veniam elit aliqua Lorem ut tempor. Qui veniam occaecat duis do aliqua ipsum proident.</p>
    <p id="paragraph_demo2_1" ng-click="selectElement($event);$event.stopPropagation()">Cillum esse aliquip reprehenderit ullamco in laboris ullamco eiusmod cillum elit. Duis ad commodo <a id="link_demo2_1" ng-click="selectElement($event);$event.stopPropagation()" href="">enim sit elit sit</a> occaecat irure magna fugiat elit ad elit
        ex. Quis aliqua adipisicing sit mollit mollit occaecat veniam nostrud ad labore eiusmod nulla exercitation. Velit in tempor proident do laborum cupidatat nostrud quis ullamco dolor. Minim veniam Lorem adipisicing do amet anim exercitation mollit
        sint aute aliqua. Exercitation cillum ut tempor ex enim Lorem tempor magna do voluptate. Voluptate officia sunt culpa nisi eiusmod Lorem dolore nisi magna exercitation. Enim sint nisi irure aute ex fugiat cupidatat ad esse aliquip eiusmod deserunt
        minim voluptate.</p>
    <div class="text-center">
        <div class="video-wrapper"><video id="video_demo2" ng-click="selectElement($event);$event.stopPropagation()" controls><source src="data/video/video2.mp4" type="video/mp4">Your browser does not support the video tag.</video></div>
    </div>
    <p id="paragraph_demo2_2" ng-click="selectElement($event);$event.stopPropagation()">Eiusmod laboris dolore tempor dolore proident velit laborum amet velit quis dolor consectetur ullamco. Occaecat <a id="link_demo2_3" ng-click="selectElement($event);$event.stopPropagation()" href="">ipsum id id voluptate</a> pariatur voluptate elit reprehenderit magna eu eu ea reprehenderit. Lorem ad non eu enim occaecat ipsum quis. Ad
        nostrud proident enim duis non fugiat ipsum id aliquip cillum reprehenderit. Consequat esse nulla tempor tempor do consequat commodo. Officia adipisicing dolore qui laborum cupidatat <a id="link_demo2_4" ng-click="selectElement($event);$event.stopPropagation()" href="">officia qui ad adipisicing</a>. Qui sint incididunt tempor nulla
        proident ex magna.</p>
    <p id="paragraph_demo2_3" ng-click="selectElement($event);$event.stopPropagation()">Nisi deserunt qui amet occaecat reprehenderit cupidatat sunt proident dolor culpa consequat ad nostrud anim. Id veniam Lorem ullamco dolore eu aliqua eiusmod in ex. Cupidatat nisi fugiat deserunt Lorem anim tempor ut qui duis. <a id="link_demo2_5" ng-click="selectElement($event);$event.stopPropagation()" href="">Dolor tempor ut quis</a>
        velit sit elit proident. Anim est reprehenderit nulla aliqua irure sit irure. Ea pariatur duis aliquip aute ut amet ullamco officia ut aliquip occaecat laboris culpa. Labore dolore consequat in quis ea dolor reprehenderit mollit. Laboris eiusmod
        tempor irure mollit sint et eu dolore pariatur commodo.</p>
    <div class="text-center">
        <div class="img-wrapper text-center" id="img-wrapper_demo2"><img ng-click="selectElement($event);$event.stopPropagation()" id="image_demo2_2" src="data/img/img10.jpg"></div>
    </div>
    <p id="paragraph_demo2_4" ng-click="selectElement($event);$event.stopPropagation()">Labore pariatur deserunt proident irure nostrud mollit voluptate deserunt exercitation incididunt eiusmod nostrud ad. Officia reprehenderit enim consectetur mollit incididunt excepteur amet reprehenderit in. Sit ipsum amet sit mollit occaecat esse
        qui eu sunt commodo. Consequat eu non do excepteur minim duis enim. Eu ut occaecat proident eiusmod sit Lorem ullamco id in ea reprehenderit labore. Irure consequat quis incididunt pariatur nisi fugiat cillum. Tempor ut fugiat elit nostrud et
        labore non anim dolor anim nisi. Irure id pariatur occaecat nisi ipsum culpa qui. Laboris ullamco excepteur culpa est incididunt sint sint exercitation amet in.</p>
</div>
