/*
    articles.css
    ============
    CSS for 'articles' view
*/
#bootstrap-override .well {
    padding: 0;
    overflow: hidden;
}
#article {
    max-width: 100%;
    max-height: 100%;
}
#likert {
    display: table;
    margin: 0 auto;
}
#likert-wrapper {
    overflow: scroll;
}
#bootstrap-override .table-responsive {
    border: none;
}
#likert table {
    max-width: 650px;
    background-color: #eee;
    border: 7px solid #eee;
    border-radius: 6px;
    border-collapse: separate;
}
#likert td {
    width: 14.28%;
}
#labels td {
    padding: 0 5px;
}
#bootstrap-override label {
    font-weight: normal;
}
#radios td {
    padding-top: 8px;
}

#highlight {
    position: absolute;
    background-color: rgba(255, 255, 0, 0.5);
    border: 4px solid rgb(255, 217, 0);
    border-radius: 7px;
}
/* == Spontaneous Response Modal == */
/* == The following CSS is borrowed from http://nicolasgallagher.com/pure-css-speech-bubbles/ == */
#response {
    position: absolute;
    padding: 15px;
    padding-top: 12px;
    margin-left: 30px;
    color: #000;
    background: #ccc;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#response:after {
    content: "";
    position: absolute;
    top: 16px; /* controls vertical position */
    bottom: auto;
    left: -30px; /* controls horizontal position */
    border-width: 15px 30px 15px 0; /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: transparent #ccc;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}
/* == End of borrowed code == */
#response a {
    cursor: pointer;
}
#positive {
    color: #498a44;
    padding-right: 10px;
}
#positive:hover {
    color: #346530;
}
#negative {
    color: #c92d39;
}
#negative:hover {
    color: #9b0d28;
}
#close-response {
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
}
#close-response:hover {
    opacity: .5;
}
