/*
    consent.css
    ===========
    CSS for 'consent' view
*/
#consent ul {
    list-style-type: none;
}
#consent-form {
    color: black;
}
#consent-text .panel-body {
    max-height: 65vh;
    overflow-y: scroll;
}
.signed-date {
    color: grey;
    font-style: italic;
}
#consent-check label {
    float: left;
}
#consent-check #submit, #consent-check #buttons {
    float: right;
}
