/* == consent =============================================================== */
#consent ul {
    list-style-type: none;
}
#consent-form {
    color: black;
}
#consent-text .panel-body {
    max-height: 65vh;
    overflow-y: scroll;
}
.signed-date {
    color: grey;
    font-style: italic;
}
#consent-check, #consent label {
    margin-bottom: 10px;
}
