<!--
    articles.html
    =============
    template for 'articles' view
-->
<link rel="stylesheet" href="css/articles.css">
<div class="container col-sm-12" ng-click="hideSpontaneousResponse()">
    <div class="progress col-sm-offset-2 col-sm-8">
        <div id="instructions-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
            Instructions
        </div>
        <div id="demographic-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">
            Demographic Info
        </div>
        <div id="articles-bar" class="progress-bar progress-bar-striped active"
            aria-valuenow="{{width}}" aria-valuemin="0" aria-valuemax="100" style="width:{{width}}%">
            <span ng-show="width >= 20">Article Responses: </span><span ng-show="width > 5">{{index + 1}}/{{numTrials}}</span>
        </div>
    </div>
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Review article and respond below.
            <div>
                <i data-toggle="modal" data-target="#help" class="fa fa-question-circle" aria-hidden="true"></i>
            </div>
        </div>
        <div class="panel-body">
            <div id="article-well" class="well">
                <!--
                    included article includes selectElement() onclick functions
                    followed by $event.stopPropagation() calls to cancel the global
                    hideSpontaneousResponse onclick function
                 -->
                <ng-include id="article" src="articlePath"></ng-include>
            </div>
            <form>
                <div id="likert-wrapper">
                    <div id="likert" class="form-group">
                        <h4>If it had real content, I would believe an article that looks like this.</h4>
                        <div class="table-responsive table">
                            <table class="text-center">
                                <tr id="labels" class="small">
                                    <td><label for="strongly-disagree">Strongly Disagree</label></td>
                                    <td><label for="disagree">Disagree</label></td>
                                    <td><label for="somewhat-disagree">Somewhat Disagree</label></td>
                                    <td><label for="neither">Neither Agree nor Disagree</label></td>
                                    <td><label for="somewhat-agree">Somewhat Agree</label></td>
                                    <td><label for="agree">Agree</label></td>
                                    <td><label for="strongly-agree">Strongly<br>Agree</label></td>
                                </tr>
                                <tr id="radios">
                                    <td><input type="radio" ng-model="likert" id="strongly-disagree" value="strongly-disagree"></td>
                                    <td><input type="radio" ng-model="likert" id="disagree" value="disagree"></td>
                                    <td><input type="radio" ng-model="likert" id="somewhat-disagree" value="somewhat-disagree"></td>
                                    <td><input type="radio" ng-model="likert" id="neither" value="neither"></td>
                                    <td><input type="radio" ng-model="likert" id="somewhat-agree" value="somewhat-agree"></td>
                                    <td><input type="radio" ng-model="likert" id="agree" value="agree"></td>
                                    <td><input type="radio" ng-model="likert" id="strongly-agree" value="strongly-agree"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="button-row" class="text-center col-sm-12">
                    <button id="continue" ng-disabled="!likertSelected()" ng-click="submitArticleResponse()" class="btn btn-default">
                        Continue <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
<!-- SpontaneousResponse -->
<!--
    ng-click statement 'stopPropagation' blocks the
    page container's 'hideSpontaneousResponse' event
 -->
    <div id="highlight" ng-show="showSpontaneousResponse"
                        ng-style="highlightStyle"></div>
    <div id="response" ng-show="showSpontaneousResponse"
                       ng-style="responseStyle"
                       ng-click="$event.stopPropagation()">
        <div id="response-prompt" class="col-xs-12">This element makes the article seem...</div>
        <div class="text-center">
            <button class="btn btn-default" id="more-believable" ng-click="submitSpontaneousResponse('more-believable')">
                <strong>more believable</strong>
            </button>
            <button class="btn btn-default" id="less-believable" ng-click="submitSpontaneousResponse('less-believable')">
                <strong>less believable</strong>
            </button>
        </div>
        <a><i id="close-response" class="fa fa-times" aria-hidden="true" ng-click="hideSpontaneousResponse()"></i></a>
    </div>
<!-- INSTRUCTIONS -->
    <div id="help" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Instructions</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'view/partial/instructions-content.html'"></div>
                </div>
            </div>
        </div>
    </div>
<!-- DEMO MODALS: src is only defined if in given demo phase -->
    <div id="demo" ng-show="demo">
        <div id="step1-1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Demo: respond to articles</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>
                            You will be shown a series of articles where words, images, and videos have been replaced by filler content -- it has no meaning, and <strong id="not-understand">you will not be able to understand it</strong>. Please take a moment to look at this demonstration article and observe its layout characteristics.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Start</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="step1-2" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Confused?</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>
                            Previous participants have been confused by the meaningless text, images, and videos. These elements are meaningless by design; please focus on the presentation of the article.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="hint1">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        <div id="step1-3" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Demo: respond to articles</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img src="data/img/likert.png">
                        <p>
                            You will respond to each article via a Likert scale, as seen above. Consider all aspects of the article's presentation when responding. Please respond to the following statement after each article, based on how believable it looks:
                        </p>
                        <p id="likert-statement">
                            <strong>“If it had real content, I would believe an article that looks like this.”</strong>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="highlightLikertScale()" data-dismiss="modal">Finish</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="step2-1" class="modal fade" role="dialog" ng-click="step2($event)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="step2-1-close" type="button" class="close" data-dismiss="modal" ng-click="step2($event)">&times;</button>
                        <h2 class="modal-title">Demo: respond to individual elements</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>
                            You are also able to click on and respond to individual elements of the article, to indicate whether the element made the article seem <strong>more or less believable.</strong>
                        </p>
                        <img src="data/img/element.png">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="step2-1-start" class="btn btn-default" data-dismiss="modal" ng-click="step2($event)">Start</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="step2-2" class="modal fade" data-backdrop="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Click on the video and respond.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="hint2">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        <div id="step2-3" class="modal fade" data-backdrop="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Try it out: click on other elements.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="step2-4" class="modal fade" role="dialog" ng-click="endDemo()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" ng-click="$event.stopPropagation()">
                        <button id="step1-close" type="button" class="close" ng-click="endDemo()" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" ng-click="$event.stopPropagation()">Provide explanations</h4>
                    </div>
                    <div class="modal-body text-center" ng-click="$event.stopPropagation()">
                        <p>
                            After viewing all the articles, you will be asked to provide a short text response explaining why you marked certain elements as being “more” or “less” believable, as seen below.
                        </p>
                        <img src="data/img/qualitative.png">
                        <p>
                            Full instructions can be accessed at the top-right of every article in the experiment, if you need a reminder.
                        </p>
                    </div>
                    <div class="modal-footer" ng-click="$event.stopPropagation()">
                        <button type="button" class="btn btn-default" ng-click="endDemo()" data-dismiss="modal">Begin Experiment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
