<!--
    articles.html
    =============
    template for 'articles' view
-->

<link rel="stylesheet" href="css/articles.css">

<div class="container col-sm-12" ng-click="hideSpontaneousResponse()">
    <div class="progress col-sm-offset-2 col-sm-8">
        <div id="demographic-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
            Demographic Information
        </div>
        <div id="articles-bar" class="progress-bar progress-bar-striped active"
            aria-valuenow="{{width}}" aria-valuemin="0" aria-valuemax="100" style="width:{{width}}%">
            <span ng-show="width >= 20">Article Responses: </span>{{index + 1}}/{{numArticles}}
        </div>
    </div>
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Review article and respond below.
        </div>
        <div class="panel-body">
            <div id="article-well" class="well">
                <!--
                    ng-click statement 'stopPropagation' blocks the
                    page container's 'hideSpontaneousResponse' event
                 -->
                <div id="article"
                    ng-include="'view/partial/articles/testTemplate.html'"
                    onload="articleOnLoad()"
                    ng-click="selectElement($event);$event.stopPropagation()">
                </div>
            </div>
            <form>
                <div id="likert-wrapper">
                    <div id="likert" class="form-group">
                        <h4>This article seems believable.</h4>
                        <div class="table-responsive table">
                            <table class="text-center">
                                <tr id="labels" class="small">
                                    <td><label for="strongly-disagree">Strongly Disagree</label></td>
                                    <td><label for="disagree">Disagree</label></td>
                                    <td><label for="somewhat-disagree">Somewhat Disagree</label></td>
                                    <td><label for="neither">Neither Agree nor Disagree</label></td>
                                    <td><label for="somewhat-agree">Somewhat Agree</label></td>
                                    <td><label for="agree">Agree</label></td>
                                    <td><label for="strongly-agree">Strongly<br>Agree</label></td>
                                </tr>
                                <tr id="radios">
                                    <td><input type="radio" ng-model="likert" id="strongly-disagree" value="strongly-disagree"></td>
                                    <td><input type="radio" ng-model="likert" id="disagree" value="disagree"></td>
                                    <td><input type="radio" ng-model="likert" id="somewhat-disagree" value="somewhat-disagree"></td>
                                    <td><input type="radio" ng-model="likert" id="neither" value="neither"></td>
                                    <td><input type="radio" ng-model="likert" id="somewhat-agree" value="somewhat-agree"></td>
                                    <td><input type="radio" ng-model="likert" id="agree" value="agree"></td>
                                    <td><input type="radio" ng-model="likert" id="strongly-agree" value="strongly-agree"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="button-row" class="text-center col-sm-12">
                    <button id="continue" ng-disabled="!likertSelected()" ng-click="submitArticleResponse()" class="btn btn-default">
                        Continue <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--
        ng-click statement 'stopPropagation' blocks the
        page container's 'hideSpontaneousResponse' event
     -->
    <div id="highlight" ng-show="showSpontaneousResponse"
                        ng-style="highlightStyle"
                        ng-click="$event.stopPropagation()"></div>
    <div id="response" ng-show="showSpontaneousResponse"
                       ng-style="responseStyle"
                       ng-click="$event.stopPropagation()">
        <a><i id="positive" class="fa fa-thumbs-up fa-4x" ng-click="submitSpontaneousResponse($event)" aria-hidden="true"></i></a>
        <a><i id="negative" class="fa fa-thumbs-down fa-4x" ng-click="submitSpontaneousResponse($event)" aria-hidden="true"></i></a>
        <a><i id="close-response" class="fa fa-times" aria-hidden="true" ng-click="hideSpontaneousResponse()"></i></a>
    </div>
</div>
