<link rel="stylesheet" href="css/consent.css">

<div class="container col-sm-12">
    <div id="consent" class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Consent
        </div>
        <div class="panel-body flex-container" id="consent-form">
            <div class="panel panel-default">
                <div id="consent-text" class="panel-body">
                    <div ng-include="'view/partial/consent-text.html'"></div>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="hasConsented" name="consent-check" value="consent-check">
                        I give my consent to participate in this study. <span class="signed-date">{{ today }}</span>
                    </label>
                </div>
                <div class="form-group col-sm-2 text-center">
                    <button ng-disabled="!hasConsented" class="btn btn-default" data-toggle="modal" data-target="#consent-print">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Print Modal -->
    <div id="consent-print" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Print Consent Form</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'view/partial/consent-text.html'"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Print Consent Form &amp; Continue
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Continue Without Printing
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
