<!--
    consent.html
    =============
    template for consent view
-->

<link rel="stylesheet" href="css/consent.css">

<div class="container col-sm-12">
    <div id="consent" class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Consent
        </div>
        <div class="panel-body" id="consent-form">
            <div id="consent-text" class="panel panel-default">
                <div class="panel-body">
                    <div ng-include="'view/partial/consent-text.html'"></div>
                </div>
            </div>
            <form id="consent-check" class="form-horizontal col-sm-12">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="consentCheck"  ng-disabled="hasConsented" name="consent-check" value="consent-check">
                        I give my consent to participate in this study. <span class="signed-date">{{today}}</span>
                    </input>
                </label>
                <button id="submit" type="button" ng-disabled="!consentCheck" ng-show="!hasConsented" ng-click="submitConsent()" class="btn btn-default">
                    Submit Consent
                </button>
                <div id="buttons">
                    <button id="print-button" type="button" ng-show="hasConsented" ng-click="downloadConsent()" class="btn btn-default">
                        Download Consent Form
                    </button>
                    <a href="#/introduction" ng-show="hasConsented" class="btn btn-default">
                        Continue <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
