<!--
    end.html
    ========
    template for 'end' view
-->
<link rel="stylesheet" href="css/end.css">
<div class="container col-sm-12">
    <div id="thank-you" class="jumbotron text-center col-sm-offset-2 col-sm-8">
        <h1>Thank you for participating!</h1>
        <br>
        <p>
            (For researcher use: Subject ID is {{subjectID}})
        </p>
    </div>
    <div class="text-center col-sm-12">
        <a id="restart" ng-click="restart()" class="btn btn-default btn-lg">
            <i class="fa fa-repeat" aria-hidden="true"></i>
        </a>
    </div>
</div>
