<!--
    instructions.html
    =================
    template for 'instructions' view
-->
<link rel="stylesheet" href="css/instructions.css">
<div class="container col-sm-12">
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">Instructions</div>
        <div class="panel-body">
            <div ng-include="'view/partial/instructions-content.html'"></div>
            <div class="col-sm-12 text-center">
                <a id="begin" ng-click="begin()" class="btn btn-default">
                    Begin Experiment <i class="fa fa-play" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
