<!--
    introduction.html
    =================
    template for 'introduction' view
-->

<link rel="stylesheet" href="css/introduction.css">
<div class="container col-sm-12">
    <div class="progress col-sm-offset-2 col-sm-8">
        <div id="demographic-bar" class="progress-bar progress-bar-striped active"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
            Demographic Information
        </div>
    </div>
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Before we begin...
        </div>
        <div class="panel-body" id="consent-form">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Tell us a bit about yourself</h4>
                    </div>
                    <div id="demographicInfo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <!-- Birth Year -->
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="age">What year were you born?</label>
                                    <div class="col-sm-5">
                                        <select id="age" class="form-control" ng-model="selectBirthYear" required
                                            ng-options="year as year.val disable when year.disabled for year in years">
                                        </select>
                                    </div>
                                </div>
                                <!-- Field(s) -->
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="field">What is your field of study?</label>
                                    <div class="col-sm-5">
                                        <select id="selectField1" class="form-control" required
                                            ng-model="selectField1"
                                            ng-options="field as field.val disable when field.disabled for field in fields"
                                            ng-change="handleOther1()">
                                        </select>
                                    </div>
                                    <div ng-show="selectedOther1">
                                        <div class="col-sm-offset-5 col-sm-5">
                                            <input id="otherField1" class="form-control" type="text" placeholder="Enter other field..." ng-model="otherField1">
                                            <p class="cancel-field">
                                                <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleOther1(false, true)"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-5 col-sm-5 text-left add-field" ng-show="!field2Visible">
                                        <span class="pointer" ng-click="toggleField2(true)"><i class="fa fa-plus" aria-hidden="true"></i> add field</span>
                                    </div>
                                    <div ng-show="field2Visible">
                                        <div class="col-sm-offset-5 col-sm-5">
                                            <select id="selectField2" class="form-control"
                                                ng-model="selectField2"
                                                ng-options="field as field.val disable when field.disabled for field in fields"
                                                ng-change="handleOther2()">
                                            </select>
                                            <p class="cancel-field" ng-show="!field3Visible">
                                                <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleField2(false)"></i>
                                            </p>
                                        </div>
                                        <div ng-show="selectedOther2">
                                            <div class="col-sm-offset-5 col-sm-5">
                                                <input id="otherField2" class="form-control" type="text" placeholder="Enter other field..." ng-model="otherField2">
                                                <p class="cancel-field">
                                                    <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleOther2(false, true)"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-5 col-sm-5 text-left pointer add-field" ng-show="!field3Visible">
                                            <span class="pointer" ng-click="toggleField3(true)"><i class="fa fa-plus" aria-hidden="true"></i> add field</span>
                                        </div>
                                    </div>
                                    <div ng-show="field3Visible">
                                        <div class="col-sm-offset-5 col-sm-5">
                                            <select id="selectField3" class="form-control"
                                                ng-model="selectField3"
                                                ng-options="field as field.val disable when field.disabled for field in fields"
                                                ng-change="handleOther3()">
                                            </select>
                                            <p class="cancel-field">
                                                <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleField3(false)"></i>
                                            </p>
                                        </div>
                                        <div ng-show="selectedOther3">
                                            <div class="col-sm-offset-5 col-sm-5">
                                                <input id="otherField3" class="form-control" type="text" placeholder="Enter other field..." ng-model="otherField3">
                                                <p class="cancel-field">
                                                    <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleOther3(false, true)"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Gender -->
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="gender">Which gender do you identify with?</label>
                                    <div class="col-sm-5">
                                        <select id="gender" class="form-control" ng-model="selectGender" required
                                            ng-options="gender as gender.val disable when gender.disabled for gender in genders">
                                        </select>
                                    </div>
                                </div>
                                <!-- Submit -->
                                <div id="submitIntro">
                                    <span class="alert alert-warning message-fade" ng-show="!formValid()"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> form is incomplete</span>
                                    <button ng-click="submitDemographicInfo()" ng-disabled="!formValid()" data-toggle="collapse" data-parent="#accordion" data-target="#instructions" class="btn btn-default">
                                        Continue <i class="fa fa-play" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Learn about the experiment</h4>
                    </div>
                    <div id="instructions" class="panel-collapse collapse">
                        <div class="panel-body text-center">
                            <p>
                                The experiment is divided into two phases. In the first phase, you view a set of articles, and respond to the statement following each article:
                            </p>
                            <img src="/app/data/intro_img1.png">
                            <p>
                                While viewing these articles, you are able to click on elements within the article to indicate whether the element makes the article seem more or less believable. A "thumbs-up" response means that the element encourages you to believe the article, and a "thumbs-down" response means that the element element influences you to doubt the article.
                            </p>
                            <img src="/app/data/intro_img2.png">
                            <p>
                                In the second phase of the experiment you are prompted to give a more in-depth explanation for why you responed positively or negatively towards certain elements:
                            </p>
                            <img src="/app/data/intro_img3.png">
                            <div class="col-sm-12 text-center">
                                <a id="goToArticles" ng-click="continue()" class="btn btn-default">
                                    Begin Experiment <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
