<!--
    introduction.html
    =================
    introduction page for the experiment; collects subject demographic information
    and demonstrates the steps of the experiment
-->

<link rel="stylesheet" href="css/introduction.css">
<div class="container col-sm-12">
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Before we begin...
        </div>
        <div class="panel-body" id="consent-form">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#demographicInfo" class="pointer">
                                Tell us a bit about yourself:
                            </a>
                        </h4>
                    </div>
                    <div id="demographicInfo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="age">What year were you born?</label>
                                    <div class="col-sm-5">
                                        <select id="age" class="form-control">
                                            <option selected="true" disabled="disabled">Select birth year...</option>
                                            <option ng-repeat="year in years">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="field">What is your field of study?</label>
                                    <div class="col-sm-5">
                                        <select id="selectField1" class="form-control"
                                            ng-model="selectField1"
                                            ng-options="field as field.name disable when field.disabled for field in fields"
                                            ng-change="handleOther1()">
                                        </select>
                                    </div>
                                    <div ng-show="selectedOther1">
                                        <div class="col-sm-offset-5 col-sm-5">
                                            <input id="otherField1" class="form-control" type="text" placeholder="Enter other field...">
                                            <p class="cancel-field">
                                                <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleOther1(false, true)"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <!--
                                    TODO: add functionality to toggle to text box on 'other' (also has x)
                                    -->
                                    <div class="col-sm-offset-5 col-sm-5 text-left add-field" ng-show="!field2Visible">
                                        <span class="pointer" ng-click="toggleField2(true)"><i class="fa fa-plus" aria-hidden="true"></i> add field</span>
                                    </div>
                                    <div ng-show="field2Visible">
                                        <div class="col-sm-offset-5 col-sm-5">
                                            <select id="selectField2" class="form-control"
                                                ng-model="selectField2"
                                                ng-options="field as field.name disable when field.disabled for field in fields"
                                                ng-change="handleOther2()">
                                            </select>
                                            <p class="cancel-field" ng-show="!field3Visible">
                                                <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleField2(false)"></i>
                                            </p>
                                        </div>
                                        <div ng-show="selectedOther2">
                                            <div class="col-sm-offset-5 col-sm-5">
                                                <input id="otherField2" class="form-control" type="text" placeholder="Enter other field...">
                                                <p class="cancel-field">
                                                    <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleOther2(false, true)"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-5 col-sm-5 text-left pointer add-field" ng-show="!field3Visible">
                                            <span class="pointer" ng-click="toggleField3(true)"><i class="fa fa-plus" aria-hidden="true"></i> add field</span>
                                        </div>
                                    </div>
                                    <div ng-show="field3Visible">
                                        <div class="col-sm-offset-5 col-sm-5">
                                            <select id="selectField3" class="form-control"
                                                ng-model="selectField3"
                                                ng-options="field as field.name disable when field.disabled for field in fields"
                                                ng-change="handleOther3()">
                                            </select>
                                            <p class="cancel-field">
                                                <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleField3(false)"></i>
                                            </p>
                                        </div>
                                        <div ng-show="selectedOther3">
                                            <div class="col-sm-offset-5 col-sm-5">
                                                <input id="otherField3" class="form-control" type="text" placeholder="Enter other field...">
                                                <p class="cancel-field">
                                                    <i class="fa fa-times pointer" aria-hidden="true" ng-click="toggleOther3(false, true)"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="gender">Which gender do you identify with?</label>
                                    <div class="col-sm-5">
                                        <select id="gender" class="form-control">
                                            <option selected="true" disabled="disabled">Select a gender...</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Non-Binary</option>
                                            <option>Prefer not to respond</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#experimentDemo" class="pointer">
                                Learn about the experiment
                            </a>
                        </h4>
                    </div>
                    <div id="experimentDemo" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
<form class="form-inline">
    <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" class="form-control">
            <option selected="true" disabled="disabled">Select a gender...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Non-Binary</option>
            <option>Prefer not to respond</option>
        </select>
    </div>
</form>
-->
