<!--
    prize.html
    ==========
    template for 'prize' view
-->
<link rel="stylesheet" href="css/prize.css">

<div class="container col-sm-12">
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Thank you for participating!
        </div>
        <div class="panel-body">
            <div class="col-sm-offset-4 col-sm-4">
                <img id="amazon" src="data/amazon-gift-card.png">
            </div>
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <p>
                    Thank you for participating in our experiment! Your responses have been recorded. Please enter your email below if you would like to be entered in a drawing for a giftcard; your email will not be stored for any other purpose.
                </p>
            </div>
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="email">Enter your email address:</label>
                        <input ng-model="email" type="email" class="form-control" id="email">
                    </div>
                    <button id="submit" type="button" ng-click="registerPrizeDrawingParticipant()" ng-disabled="emailUndefined()" class="btn btn-default">
                        Submit Consent
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
