
<!--
    resize.html
    ===========
    template for 'resize' view
-->
<link rel="stylesheet" href="css/resize.css">
<div class="container col-sm-12">
    <div ng-show="loading" class="jumbotron text-center col-sm-offset-2 col-sm-8">
        <h2>Loading <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></h2>
    </div>
    <div ng-show="!loading">
        <div ng-show="!idealSize" class="jumbotron text-center col-sm-offset-2 col-sm-8">
            <h2>For optimal results, please increase the viewing window <span ng-show="height.invalid">height</span><span ng-show="bothInvalid()"> and </span><span ng-show="width.invalid">width</span>. It is possible that you are using a mobile browser: please complete this experiment on a laptop or desktop computer instead.</h2>
            <h2>You can continue the experiment when the window is <span ng-show="height.invalid">tall</span><span ng-show="bothInvalid()"> and </span><span ng-show="width.invalid">wide</span> enough.</h2>
        </div>
        <div ng-show="idealSize" class="jumbotron text-center col-sm-offset-2 col-sm-8">
            <h2>Thank you!</h2>
            <h2>Your viewing window is now the correct size.</h2>
            <button class="btn btn-default" ng-click="continue()"><h2>Continue <i class="fa fa-play" aria-hidden="true"></i></h2></button>
        </div>
    </div>
</div>
