<!--
    review.html
    ===========
    template for 'review' view
-->
<link rel="stylesheet" href="css/review.css">
<div class="container col-sm-12">
    <div class="progress col-sm-offset-2 col-sm-8">
        <div id="instructions-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
            Instructions
        </div>
        <div id="demographic-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">
            Demographic Info
        </div>
        <div id="articles-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
            Article Responses
        </div>
        <div id="review-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
            Review Responses
        </div>
    </div>
    <div id="response-panel" class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Review responses:
        </div>
        <div class="panel-body">
            <div ng-show="showLoadingMessage" class="jumbotron text-center">
                Loading responses... <i class="fa fa-refresh fa-spin fa-fw"></i>
            </div>
            <div ng-show="showNoResponsesMessage" class="jumbotron text-center">
                No spontaneous responses registered.
            </div>
            <div class="panel-group" id="accordion">
                <div id="prompt" ng-show="showPrompt" class="jumbotron text-center">
                    <div>
                        You will now be shown all article elements you indicated as making the article seem either "more believable" or "less believable". For each response, please provide a short explanation for why you responded the way you did.
                    </div>
                    <div id="begin">
                        <a ng-click="begin()" class="btn btn-default">
                            {{(current.response.index == 0) ? 'Begin ' : 'Continue where you left off '}}<i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div ng-repeat="(trial,responseArray) in responses"
                     class="panel panel-default"
                     ng-init="$parent.showResponses = ($last) ? true : $parent.showResponses">
                    <div class="panel-heading" id="article-{{trial}}">
                        <div class="panel-title pull-left">
                            Article {{trial}}
                        </div>
                        <div class="panel-title pull-right" ng-show="articlePanelState[trial].checked"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="collapse-{{trial}}" class="panel-collapse collapse" ng-class="$parent.articlePanelState[trial].collapse">
                        <div class="panel-body">
                            <div class="well">
                                <ng-include id="article-{{articleOrder[trial - 1]}}"
                                    src="articlePaths[trial - 1]">
                                </ng-include>
                            </div>
                            <div ng-repeat="response in responseArray">
                                <div class="highlight" ng-style="highlightStyles[trial][response.SRID]"></div>
                                <div id="response-modal-{{response.SRID}}"
                                     class="response-modal"
                                     ng-show="response.SRID == current.response.responses[current.response.index]"
                                     ng-style="modalStyles[trial][response.SRID]">
                                    <div class="well">
                                        <div class="response-title" ng-style="responseTitleStyles[(response.moreBelievable) ? 'more-believable' : 'less-believable']">
                                            Response {{current.response.index + 1}}
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="explanation">Please explain why this element makes the article <span ng-show="response.moreBelievable" class="more-believable">more believable</span><span ng-show="!response.moreBelievable" class="less-believable">less believable</span>:
                                            </label>
                                            <textarea ng-model="explanation" class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                        <div class="col-xs-12 text-right align-middle">
                                            <a class="cancel" href="" ng-click="deleteResponse(trial, response.SRID, $last)">Delete Response</a>
                                            <button ng-disabled="explanation == undefined" ng-click="submitExplanation(trial, response.SRID, explanation, $last)" class="btn btn-default">
                                                Submit <i class="fa fa-play" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="disableContinue" ng-click="continue()" class="btn btn-default">
                    Continue <i class="fa fa-play" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
