<!--
    review.html
    ===========
    template for 'review' view
-->
<link rel="stylesheet" href="css/review.css">

<div class="container col-sm-12">
    <div class="progress col-sm-offset-2 col-sm-8">
        <div id="demographic-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
            Demographic Information
        </div>
        <div id="articles-bar" class="progress-bar progress-bar-striped"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
            Article Responses
        </div>
        <div id="review-bar" class="progress-bar progress-bar-striped active"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
            Review Responses
        </div>
    </div>
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Review spontaneous responses:
        </div>
        <div class="panel-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mauris mi, lobortis sit amet laoreet vel, sagittis at lorem. Donec semper hendrerit elementum. Donec vitae elementum purus, at commodo diam. Donec mauris est, lobortis ut elit accumsan, faucibus tristique mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent at convallis nulla, non elementum diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vehicula nulla ac bibendum volutpat. Ut convallis ultrices leo, ac hendrerit sem facilisis sit amet.
            </p>
            <p>
                Fusce ac nisl eget ante cursus accumsan ut vitae tortor. Praesent orci nunc, fringilla nec nisi scelerisque, tempus ullamcorper velit. Donec sed eros rutrum, eleifend nibh quis, rhoncus mauris. Maecenas ullamcorper eget est vitae malesuada. Vivamus imperdiet auctor rhoncus. Nulla id justo enim. Aliquam blandit sollicitudin ante id egestas. Donec mollis, diam at egestas feugiat, quam mauris viverra libero, a lacinia arcu lectus id elit. Praesent aliquam augue ac massa rhoncus varius quis in velit. Nulla semper massa in mauris vestibulum, quis finibus mi auctor. Phasellus sed accumsan orci. Sed blandit euismod posuere. Nam elementum turpis eget mi tincidunt, non vulputate nulla aliquam. Nam porttitor lacus et enim molestie ullamcorper. Aenean id pharetra sapien, ultrices suscipit felis. Integer dictum aliquam pharetra.
            </p>
            <p>
                Sed fringilla sollicitudin nisl, a tincidunt lacus vestibulum ut. Nunc commodo ligula a blandit venenatis. Praesent tempus eget metus ac placerat. Phasellus nec ipsum ex. Nulla et nisl in libero molestie interdum eu quis mauris. Morbi non nisl mauris. Nulla vulputate lacinia vehicula. Etiam mollis erat sit amet tortor vulputate, sed feugiat lacus molestie. Integer maximus orci vitae lectus volutpat porttitor. Phasellus fermentum augue lacinia ipsum varius mollis a id justo. Cras faucibus ipsum vehicula tincidunt finibus.
            </p>
            <div class="text-center">
                <a ng-click="continue()" class="btn btn-default">
                    Continue <i class="fa fa-play" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
