<!--
    start.html
    =============
    template for 'start' view
-->
<link rel="stylesheet" href="css/start.css">
<div class="container col-sm-12">
    <div class="jumbotron text-center col-sm-offset-2 col-sm-8">
        <h1>Pyrite Research Pilot</h1>
    </div>
    <div class="text-center col-sm-12">
        <a id="start-pilot" ng-href="{{(goToConsent) ? '#/consent' : '#/introduction'}}" class="btn btn-default btn-lg">Start Pilot <i class="fa fa-play" aria-hidden="true"></i></a>
    </div>
</div>
