<!-- start.html -->
<link rel="stylesheet" href="css/start.css">
<div class="container col-sm-12">
    <div class="jumbotron text-center col-sm-offset-2 col-sm-8">
        <h1>Pyrite Research Pilot</h1>
    </div>
    <div class="panel panel-default col-sm-offset-2 col-sm-8">
        <div class="panel-heading">
            Experiment Design:
        </div>
        <div class="panel-body">
            <h3 style="color:red;margin:0;">[PLACEHOLDER TEXT:]</h1>
            <p>
                In this study, we will be asking you to rate different mock-ups of news articles on how credible you feel they are. The study will be done both with a proctor, as well as self-administered. While we expect the entire process to take approximately 30 minutes, we encourage you to take as much time as you need to provide responses.
                <br><br>We will show you (24?) different mock-ups, and ask you to rate each one. You will also have the ability to mark a “thumbs up” or “thumbs down” on (each article/different aspects of the article) if you felt strongly about the reason for the rating you provided. We expect this portion to take around (15) minutes, but again, you are encouraged to take as much time as necessary.
                <br><br>After completing the rating portion, you will be asked to elaborate on the pages you marked with a “thumbs up” or “thumbs down.” If you are taking the self-administered version of the experiment, you will be able to enter a written response providing more extensive feedback on what made you rate the site the way you did. If you are taking a proctored version, a researcher will conduct a follow-up interview where you can verbally elaborate on your responses. You are free to refuse to answer any question. We expect this portion to take approximately (15) minutes.
            </p>
            <form class="text-center col-sm-offset-2 col-sm-8">
                <a id="start-pilot" href="#/consent" class="btn btn-default btn-lg">Start Pilot <i class="fa fa-play" aria-hidden="true"></i></a>
            </form>
        </div>
    </div>
</div>
