<style>
    /* navbar */
    #navbar-background-2 {
        background-color: #00baa7;
    }
    #navbar-backround-2, #page-content-2 {
        font-family: serif;
    }
    #navbar-2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #navbar-2 li {
        display: inline;
    }
    #navbar-2 a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    #navbar-2 li a:hover {
        background-color: #017267;
    }

    /* page-content */
    #page-content-2 {
        padding: 15px;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
    #article-start-2 {
        text-align: center;
    }
    #page-content-2 img {
        margin: 10px;
    }
    #image-2-1 {
        width: 300px;
        float: left;
    }
    #image-2-2 {
        float: right;
        width: 300px;
    }
</style>
<div id="navbar-background-2">
    <ul id="navbar-2" ng-click="selectElement($event);$event.stopPropagation()">
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-2-1">Nullam</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-2-2">Varius</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-2-3">Erat</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-2-4">Maecenas</a></li>
    </ul>
</div>
<div id="page-content-2">
    <div id="article-start-2">
        <h1 id="article-title-2" ng-click="selectElement($event);$event.stopPropagation()">Vivamus Ultrices, est Gravida Egestas Commodo</h1>
    </div>
    <img ng-click="selectElement($event);$event.stopPropagation()" id="image-2-1" src="data/img5.jpg">
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-2-1">
        Suspendisse in sapien vitae mauris congue egestas eget eu quam. <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-1" href="">Morbi augue orci</a>, blandit non consequat efficitur, volutpat sed libero. Etiam volutpat, enim quis pretium molestie, mauris quam interdum nunc, et aliquam felis odio eu ex. Phasellus viverra faucibus massa, a tempus velit volutpat ac. Mauris in est nec nibh lacinia ultrices quis eu quam. Praesent condimentum sapien <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-2" href="">eget massa tempus</a> eleifend. Morbi vitae elit vel felis iaculis convallis interdum vel magna. Morbi nulla mi, blandit laoreet turpis vel, fermentum suscipit augue. Integer vitae orci quis tortor dapibus tincidunt. Praesent venenatis molestie turpis. In tortor massa, gravida et neque ac, <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-3" href="">cursus aliquam mi</a>.
    </p>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-2-2">
        Nunc imperdiet vestibulum ultricies. <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-4" href="">Nulla facilisi</a>. Sed non quam eget lacus laoreet pellentesque. Sed viverra varius efficitur. Sed pretium ultrices dapibus. In a nulla porttitor, rhoncus orci vitae, rutrum mi. Cras ut <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-5" href="">gravida nisl</a>. Sed molestie ex eget eros tempor, et vulputate felis eleifend. Vivamus ac urna eu sem tempus ultrices et tincidunt nulla.
    </p>
    <img ng-click="selectElement($event);$event.stopPropagation()" id="image-2-2" src="data/img6.jpg">
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-2-3">
        Suspendisse mi ligula, sodales et imperdiet quis, feugiat et eros. Nullam a <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-6" href="">porttitor</a> est. Proin ornare erat vel commodo sagittis. Vivamus risus metus, euismod vitae ullamcorper sed, iaculis et ipsum. Nullam <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-7" href="">a commodo odio</a>, sit amet iaculis odio. Sed a nunc lacinia, bibendum magna malesuada, porttitor quam. Etiam lacinia porta quam, eu porta ipsum fringilla et. <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-8" href="">Mauris eu nisl</a> tincidunt, consequat felis vitae, suscipit nisl. Aliquam erat volutpat. Phasellus sit amet diam id est fermentum sagittis sed ut mauris. Donec maximus nulla non pellentesque faucibus. Sed <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-9" href="">elementum eros</a> in lacinia pulvinar.
    </p>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-2-4">
        Nulla euismod commodo egestas. Cras mauris arcu, <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-10" href="">suscipit sed finibus</a> ac, sagittis mattis lacus. Aliquam ut turpis sit amet arcu venenatis pellentesque. Donec luctus, libero nec sagittis malesuada, elit elit tempor libero, ac ultrices mauris ipsum fermentum neque. Morbi in nibh quis felis suscipit laoreet. <a ng-click="selectElement($event);$event.stopPropagation()" id="link-2-11" href="">Curabitur quis</a> blandit nibh, pellentesque dictum dolor. Quisque in facilisis ligula, vel elementum ex. Cras tortor metus, facilisis eget ex nec, eleifend pretium dolor. Nulla a massa sit amet sapien imperdiet vulputate non sed orci.
    </p>
