<style>
    /* navbar */
    #navbar-background-3 {
        background-color: #57207c;
    }
    #navbar-3 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #navbar-3 li {
        display: inline;
    }
    #navbar-3 a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    #navbar-3 li a:hover {
        background-color: #411372;
    }

    /* page-content */
    #page-content-3 {
        padding: 15px;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
    #article-start-3 {
        text-align: center;
    }
    #page-content-3 img {
        margin: 10px;
    }
    /*#image-3-1 {
        width: 400px;
    }*/
    #video-container {
        text-align: center;
    }
    #video-3 {
        width: 400px;
    }
</style>
<div id="navbar-background-3">
    <ul id="navbar-3" ng-click="selectElement($event);$event.stopPropagation()">
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-3-1">Phasellus</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-3-2">Odio</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-3-3">Libero</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-3-4">Effecitur</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-3-5">Feugiat</a></li>
        <li><a ng-click="selectElement($event);$event.stopPropagation()" id="navbar-element-3-6">Amet</a></li>
    </ul>
</div>
<div id="page-content-3">
    <div id="article-start-3">
        <h1 id="article-title-3" ng-click="selectElement($event);$event.stopPropagation()">Cras Malesuada Ultrices Lobortis</h1>
        <img ng-click="selectElement($event);$event.stopPropagation()" id="image-3-1" src="../../../../app/data/img7.jpg">
    </div>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-3-1">
        Vestibulum rutrum lorem lectus, in gravida libero euismod eu. Sed nec efficitur velit. Donec arcu ante, <a ng-click="selectElement($event);$event.stopPropagation()" id="link-3-1" href="">mollis vel mi</a> vitae, dictum ullamcorper lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vel turpis et ligula dictum dignissim. Fusce rutrum tincidunt lorem in efficitur. Suspendisse purus sem, vestibulum eget accumsan eu, aliquam a eros. Proin pellentesque semper ante ac interdum. Vivamus magna tortor, <a ng-click="selectElement($event);$event.stopPropagation()" id="link-3-2" href="">ultrices at mi</a>, cursus aliquet nisl. Nulla a ligula ut tortor efficitur vestibulum ac eu magna. Vivamus nec convallis diam.
    </p>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-3-2">
        Morbi consequat sollicitudin diam, eget auctor urna rutrum non. Nulla condimentum ex eu condimentum suscipit. Integer finibus enim lorem, quis tincidunt leo commodo elementum. Aenean quis ante porttitor, facilisis arcu eget, molestie tortor. Nullam ligula diam, hendrerit sed feugiat ut, vestibulum id arcu. Nunc sit amet ipsum lorem. Ut lobortis massa eget laoreet euismod. Aliquam interdum vestibulum eros ac accumsan. Nullam aliquam lacus tellus, ut hendrerit orci vehicula sed. Ut mattis convallis leo ac convallis.
    </p>
    <div id="video-container">
        <img ng-click="selectElement($event);$event.stopPropagation()" id="video-3" src="../../../../app/data/video2.jpg">
    </div>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-3-3">
        Vestibulum vehicula dignissim ante, eget rutrum urna. Vestibulum id tortor euismod, dignissim felis et, tempor libero. Nulla dui mi, egestas at sagittis eu, <a ng-click="selectElement($event);$event.stopPropagation()" id="link-3-3" href="">porttitor non turpis</a>. Aliquam accumsan nibh vel turpis placerat, nec scelerisque ligula ornare. Proin ac porttitor ipsum. Cras eget ornare risus, non aliquam nisl. Aliquam blandit fringilla elementum. Ut volutpat ac libero in cursus. <a ng-click="selectElement($event);$event.stopPropagation()" id="link-3-4" href="">Phasellus</a> at lobortis sapien. Vestibulum tellus ligula, tempus non sollicitudin in, laoreet ut ex.
    </p>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-3-4">
        Maecenas tincidunt luctus purus, vitae accumsan enim. Integer id elit ut est cursus elementum. In hac habitasse platea dictumst. Cras id ligula at purus venenatis facilisis quis quis velit. Vivamus volutpat tellus non libero blandit, eu dapibus felis fringilla. Proin eleifend quam ligula, id maximus mi dapibus feugiat. Vestibulum vitae est ante.
    </p>
    <p ng-click="selectElement($event);$event.stopPropagation()" id="paragraph-3-5">
        Sed in nisl justo. Vestibulum lobortis condimentum magna, vitae ullamcorper mi maximus vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tincidunt scelerisque accumsan. Cras finibus eros diam, sed convallis ante pellentesque ac. Praesent ut nulla magna. Donec eu scelerisque libero. Sed libero arcu, luctus at est in, auctor blandit diam. Aenean mollis, ipsum in pellentesque pretium, metus est condimentum dolor, vitae malesuada nulla felis in justo. Duis eget leo at <a ng-click="selectElement($event);$event.stopPropagation()" id="link-3-5" href="">enim convallis</a> ullamcorper. Proin eros dolor, fermentum eget viverra non, finibus non tellus. Sed placerat ligula non sem faucibus vehicula.
    </p>
</div>
